body {
    background-color: rgba(204, 204, 204, 0.45);
}

.main_block {
    background-color: rgb(238, 238, 238);
    width: 1200px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
}

label {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 16px;
    color: #333;
}

.big_title {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}

.nav_block {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 10px;
}

nav {
    background-color: #3c8ed7;
    display: block;
    padding: 6px 0;
}

nav a {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #005599;
    cursor: pointer;
}

nav a:first-child {
    margin-left: 30px;
}

.show_block_father {
    position: absolute;
    top: 210px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgb(164, 158, 158,0);
}

.show_block {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
.log_out{
    display: none;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgba(50, 128, 189, 0.89);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(50, 128, 189, 0.89);
}
.tab {
    overflow: hidden;
    background-color: #3c8ed7;
    border: 1px solid #ccc;
    width: 100%;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #1e78c2;
}

.tab button.active {
    background-color: #0d6cbb;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}
button{
    background-color: #3c8ed7;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}
button:hover{
    background-color: #1e78c2;
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
    cursor: pointer;
}

input{
    background: rgba(204, 204, 204, 0.18);
    border: 2px solid #D3D3D3;
    font-size: 18px;
    border-radius: 5px;
    text-indent: 10px;
    outline: none;
}
input:focus {
    border: 2px solid #3c8ed7;
    background: rgba(255,255,255,1);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 调整颜色和透明度 */
    z-index: 9997; /* 将覆盖层置于其他内容之上 */
}
.message_block{
    display: none;
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(3px);
    border-radius: 30px;
    z-index: 9999;
    text-align: center;
}
.message{
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 80px;
    position: absolute;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 36px;
    color: #333;
}
.confirm_button{
    top: 190px;
    left: 180px;
    right: 180px;
    bottom: 15px;
    position: absolute;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 24px;
}
.loading_block{
    display: none;
    position: absolute;
    width: 400px;
    height: 240px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(3px);
    border-radius: 30px;
    z-index: 99998;
}

.loading{
    background: rgba(255,255,255,0);
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading-dots {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    background: rgba(255,255,255,0);
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px; /* 调整点之间的间距 */
    animation: moveRight 2s infinite; /* 定义点的移动动画 */
    animation-fill-mode: both; /* 设置动画开始和结束状态的样式 */
}

.dot:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.2); /* 初始透明度为 0.2 的颜色 */
    animation-delay: 0s;
}

.dot:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.6); /* 初始透明度为 0.4 的颜色 */
    animation-delay: -0.5s; /* 调整点之间的延迟时间 */
}

.dot:nth-child(3) {
    background-color: rgba(0, 0, 0, 1); /* 初始透明度为 0.6 的颜色 */
    animation-delay: -1s; /* 调整点之间的延迟时间 */
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
        opacity: 0; /* 初始透明度为 0 */
    }
    50% {
        transform: translateX(100%);
        opacity: 1; /* 最终透明度为 1 */
    }
    100% {
        transform: translateX(100%);
        opacity: 0; /* 结束时透明度再次为 0 */
    }
}
